.container {
  max-width: 1000px;
  margin: auto;
}
body {
  text-align: center;
  font-family: 'proxima-nova', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #393738;
}
.btn {
  border: none;
  background-color: #ffde00;
  color: #3c3400;
  padding: 16px 35px;
  display: inline-block;
}
.input {
  padding: 14px 15px;
  border: 2px solid #d1d5e5;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
h1 {
  font-size: 27px;
}
h2 {
  font-size: 27px;
  font-weight: normal;
  margin-bottom: 40px;
}
a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #393738;
}
a:hover {
  border: none;
}
hr {
  max-width: 715px;
  margin: 50px auto;
}
a.logo,
a.icon {
  border-bottom: none;
}
.meetup-info span {
  display: inline-block;
  vertical-align: middle;
}
.meetup-info span.headline {
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
}
.meetup-info span.date,
.meetup-info span.time,
.meetup-info span.place {
  margin: 0 35px;
  margin-bottom: 10px;
}
.meetup-info span.place {
  text-align: left;
}
.meetup-info span.date:before,
.meetup-info span.time:before,
.meetup-info span.place:before {
  content: "";
  width: 46px;
  height: 31px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: -45px;
  margin-top: -3px;
}
.meetup-info span.date:before {
  background-image: url("../img/date-grey.png");
}
.meetup-info span.time:before {
  background-image: url("../img/time-grey.png");
}
.meetup-info span.place:before {
  background-image: url("../img/place-grey.png");
  margin-top: 25px;
}
#meetup-promo {
  background-color: #eff6bf;
  border-top: 2px solid #d3e07d;
  border-bottom: 2px solid #d3e07d;
  padding: 40px 0;
}
#meetup-promo .meetup-info span.date:before {
  background-image: url("../img/date-green.png");
}
#meetup-promo .meetup-info span.time:before {
  background-image: url("../img/time-green.png");
}
#meetup-promo .meetup-info span.place:before {
  background-image: url("../img/place-green.png");
}
#meetup,
#contact {
  background-color: #eff2fa;
}
footer {
  background-color: #87869d;
  color: #fff;
}
footer a {
  color: #fff;
}
footer .container {
  padding-bottom: 100px;
}
section,
footer {
  padding: 70px 10px;
}
#topics .items span {
  display: inline-block;
  background-color: #eff2fa;
  color: #737286;
  padding: 7px 15px;
  margin: 7px 7px;
  border-radius: 4px;
}
header {
  padding: 60px 10px;
}
header .top a.logo {
  display: block;
  float: left;
}
header .top a.logo img {
  max-width: 100%;
}
header .top nav {
  float: right;
}
header .top nav a {
  color: #393738;
  font-size: 16px;
  display: inline-block;
  margin-left: 25px;
}
header .icon {
  margin-top: 90px;
  margin-bottom: 55px;
}
header .icon img {
  max-width: 100%;
}
#contact .people .item {
  display: inline-block;
  margin: 0 30px 35px 30px;
}
#contact .people .item img {
  border-radius: 100px;
  margin-bottom: 6px;
}
#contact .people .item .name {
  font-weight: 600;
}
#contact .people .item .name,
#contact .people .item .info {
  display: block;
}
#contact .companies {
  margin-top: 35px;
}
#meetup .cta {
  font-weight: 600;
  font-size: 22px;
  padding: 16px 40px;
  margin-bottom: 30px;
}
#meetup .talk {
  text-align: left;
  max-width: 560px;
  margin: auto;
  margin-bottom: 40px;
  font-size: 16px;
}
#meetup .talk .time {
  float: left;
  margin-right: 30px;
  margin-bottom: 15px;
  width: 80px;
}
#meetup .talk .time span {
  border: 2px solid #d1d5e5;
  padding: 9px 12px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 2px;
}
#meetup .talk .info {
  max-width: 430px;
  float: left;
}
#meetup .talk .info img {
  margin-top: 10px;
}
#meetup .talk iframe {
  margin-top: 20px;
}
#meetup .previous-meetups {
  display: none;
}
#subscribe input[type="email"] {
  width: 230px;
  margin-right: 5px;
  margin-bottom: 5px;
}
#subscribe p {
  color: #87869d;
}
